[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"
django-bootstrap-toolkit = "*"
reportlab = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.10"
