<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Ubuntu&display=swap" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'css/management.css' %}">

</head>

<body>
  {% include "insurance/navbar.html" %}

  <div class="jumbotron text-center" style="margin-bottom:0px;">
    <h2 class="display-4">Vítejte v Rich Insurance</h2>
    <hr class="my-4">
    <p>Pro další možnosti se prosím přihlašte / registrujte.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="customerlogin" role="button">Přihlásit</a>
      <a class="btn btn-primary btn-lg" href="customersignup" role="button">Vytvořit účet</a>
    </p>

  </div>


</body>

</html>
